<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/works-and-about.css" />
    <title>Artemisia</title>
</head>
<body>

    <h2>about Artemisia</h2>

    <h1>Artemisia Gentileschi, Italian (08/07/1595-1653)</h1>

    <div>
       <p>In 1611, Orazio Gentileschi (Artemisia's father) hired Agostino Tassi to tutor her artistic path, since Artemisa showed her talent and interest in art since a young age. Sadly, in one of her private tutorings, Agostino raped her.</p> 

       <p>When Orazio Gentileschi took the decision to press charges against Agostino for rape, Artemisia had to undergo a gynecological examination and torture (thumbscrews) in order to test the truthfulness of her testimony. This process could have meant the end of her carreer, since the thumbscrews could have permanently damaged Artemisia's ability to hold brushes (or objects in general) but fortunately, Artemisia avoided the damage to her fingers.</p>

       <p>Agostino was eventually found guilty, and his punishment was the exile from Rome.<span style="color:red;"> However, this sentence was never carried out.</span> </p>

       <p>This traumatic event meant a turning point in Artemisia's perspective on life, and it was reflected in many of her works which mainly inclided featured scenes of women either being attacked by men, or in positions of power seeking revenge.</p>

       <p>Artemisia became a feminist icon and statement, she was a woman that was treated unfairly but that did not stop her from voicing her opinions, and so she persevered.</p>

       <p>Her work did not gain any popularity back when she lived, even though she studied and showed clear skills and passion, but she was not recognized since in that time no woman could be better than men.</p>

    </div>

    <a href="/home">Home</a>
    <a href="/works">Works</a>
    <a href="/gallery">Gallery</a>
    
</body>
</html>