<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/works-and-about.css" />
    <title>Artemisia</title>
</head>
<body>
    <h1>Artemisia's works</h1>

    <div class="space">
        <h3>Judith Beheading Holofernes</h3>
        <img src="/images/judith-beheading-holofernes.jpg" alt="painting1 img">
        <p>The painting that represents a biblical story, and what she wishes she would have done to her rapist. It shows the moment when Judith, helped by her maidservant, beheads the general after he has fallen asleep drunk.</p>
    </div>

    <div class="space">
        <h3>Jael and Sisera</h3>
        <img src="/images/jael-and-sisera.jpg" alt="painting2 img">
        <p>The moment in which a Kenite woman Jael is about to kill Sisera, a defeated Canaanite general. When he is asleep she drives a tent peg through his temple; an act that earned Jael praise for her courage in the biblical text</p>
    </div>

    <div class="space">
        <h3>Susanna and the Elders</h3>
        <img src="/images/susanna-and-the-elders.jpg" alt="painting3 img">
        <p>The story of Susanna from the Book of Daniel. In the story, two elders threaten to testify that Susanna was alone with a young man in her garden, which she was not, unless she has sex with them.</p>
    </div>

    <a href="/home">Home</a>
    <a href="/about">About</a>
    <a href="/gallery">Gallery</a>

</body>
</html>